body {
	background-color: #000000;
    background-image: url("../images/worcester.jpg");
}

.navbar {
    border-color: transparent;
	background-color: transparent;
}

.jumbotron {
	width: 100%;
	height: 100%;
    padding-top: 150px;
    padding-left: 1000px;
    background-color: transparent;
    background-size: cover;
}

.jumbotron .jumbotron-hi {
    color: black;
    font-size: 80px;
    font-style: bold;
	font-weight: 700;
    font-family: "Century Gothic";
}

.jumbotron .jumbotron-pos {
    color: black;
    font-size: 40px;
    font-family: "Josefin Slab";
}

.josefin_slab {
	font-family: "Josefin Slab";
}

.century_gothic {
	font-family: "Century Gothic";
}

.fa {  
    color: #ffffff;
    margin: 2px;
}

.parent {
    position: relative;
}

.child { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    height: 100px;
    width: 100%;
}

.social_icon {
    width: 40px;
    height: 40px;
}